/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal a {
    font-size: large;
    color: whitesmoke;
}

.modal p {
    font-size: medium;
    color: rgb(194, 194, 194);
}

.modal span {
    font-size: small;
    margin-left: 20px;
    color: rgb(194, 194, 194);
}

.modal input[type=number] {
    float: right;
}

.wrp-content {
    background-color: #272727;
    padding: 7px;
}


/* Modal Content/Box */

.modal-content {
    background-color: #333333;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(255, 152, 41);
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}